body{
    background-image: url("../img/clouds.jpg");
    --dblue: rgb(0,0,50);
    --lightbd: rgba(220, 233, 255, 0.7);
}

.searchDiv{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}

.searchField{
    width: 20%;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--lightbd);
}

.searchIcons

.current{
    background-color: var(--lightbd);
}